<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
      {% if iden == "" %}
        <H1>States</H1>
        <UL>

	    {% for states in state|sort(attribute='name') %}
	    <LI>{{states.id}}: <B>{{states.name}}</B></LI>
	    {% endfor %}
	    
        </UL>
       {% else %}
	
	<H1>State: {{state_name}}</H1>
        <H3>Cities:</H3>
	<UL>
	    {% for city in city_list %}
	    <LI>{{city_id}}: <B>{{city}}</B></LI>
	    {% endfor %}
        </UL>
	{% endif %}

    </BODY>
</HTML>
